/*Name Container*/
.name {
    float:left;
    background-color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 5px;
    width: 350px;

}
/* Navigation Bar */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    padding: 100 px; 
    float: right;

}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
   /* color: ;*/
   /* text-align: ;*/
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* .name { 
    background-color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 20px;
    width: 350px;
    float: left;
}*/

body {
    background-color: #ffffff;
    font-family: arial, 'helvetica-neue', helvetica, sans-serif;
    color: #777777;
    border-color: #dddddd;
    width: 960px;
    /* background-image: */
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
}
/* #name {
    background-color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 20px;
    width: 350px;
} */

.container {
    background-color: white;
    padding: 50px;
    float: left;
    border: 100px;
    margin: 50px;
}
#section-title {
    position: static;
    width: 960px;
    border: 3px;
    background-color: white;
    padding: 25px;
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;  
}

.photo {
width: 100px;
height: 200px;
/* float: left; */
}