/* Navigation Bar */
.topnav {
    
    background-color: #ffffff;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
   /* color: ;*/
   /* text-align: ;*/
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.name {
    background-color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 20px;
    width: 350px;
    float: left;
}
body {
    background-color: #ffffff;
    font-family: arial, 'helvetica-neue', helvetica, sans-serif;
    color: #777777;
    border-color: #dddddd;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
}
#name {
    background-color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 20px;
    width: 350px;
}
.topnav

#section-title {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;  
}