/** Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.*/
body {
    font-family: arial, 'helvetica-neue', helvetica, sans-serif;
    color: #777777;
    font-size: 20px;
    padding: 1em;
    background-image: url(../images/pink-dust.png);
    width: 960px;
    margin: auto;
    height:fit-content;

}
.heading-container {
    height: 40px;
    background-color: #ffffff;
    border-color: #cccccc;
    border: 3px outset;
    padding: 10px;
    padding-left: 0px;
}

.name {
    float: left;
    color: white;
    background-color: #4aaaa5;
    border: 3px #cccccc;
    width: 400px;
    padding: 16px;
    margin:0;
    text-align: center;
    overflow: hidden;
   }

   /* add a background to the top navigation*/
.topnav {
    vertical-align: 0%;
    /* background-color: #ffffff; */
    /* border-color: #cccccc; */
    /* overflow: hidden; */
    font-size: 30px;
}
/*Style links inside the navigation bar */

.nav-links {
    float: right;
    /* clear: both; */
    list-style-type: none;
    /* margin-top: -100; */
    padding-top: 10px;
    
}

li {
    display: inline;
    padding: 5px;
    margin: auto;
    border-right: 1px solid #bbb;
}

li a {
    
    text-align: center;
    padding: 14px 16 px;
    text-decoration: none;

}

li a:hover {
    background-color:gray;
}
/*active tab color */
.topnav a.active {
    background-color: #4aaaa5;
    color: white;
}

li:last-child {
    border-right: none;
}

.main-container { 
    background-color: #ffffff;
    border: 10px solid #dddddd;
    margin: 0px;
    padding: 25px;
    align-content: center;
    overflow: auto;
    
}

#section-title {
    color: #4aaaa5;
    text-align: center;
    border: thick;
    border-bottom-color: #777777;
    padding: 10px;
    margin: 0px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
img {
    float: left;
    width: 200px;
    height: 200px;
    margin: 25px;
    padding: 25px;
}

p {
    clear: right;
    margin: auto;
    border: 0;
    padding: 25px;

}


/*styling the form */
#form-container {
    width: 960px;
    margin: auto;
    padding: 25px;
    overflow: none;
}
input {
    width: 800px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea {
    width: 800px;
    height: 150px;

}

.images {
    position: relative;
}

#image1 {
    float:left;
}

#image2 {
    float:left;
}
#image3 {
    float:left;
    position:relative;
}

.footer {
    margin: auto;
    padding: 25px;
    border-color: gray;
    background-color:#666666;
    text-align: center;
    bottom: 0;
    pos

}